<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Automation Suite" >
	<test verbose="3" name="AllScripts">
	<classes>
		<class name="Users.P0_UsersApi" />
		<class name="Users.P1_UsersApi" />
	</classes>
	
  </test> 
  
</suite> <!-- Default suite -->
